{
  "semi": false,
  "bracketSpacing": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "@/components",
    "@/actions",
    "@/constants",
    "@/hooks",
    "@/store",
    "@/helpers",
    "@/validators",
    "@/modules",
    "@/lib",
    "@/i18n",
    "^../(.*)",
    "^./(.*)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
